@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

html,
body,
#root {
  height: 100%;
}

@theme {
  --color-dark-ui: #7a1cac;
  --color-dark-accent: #0b192c;
  --color-dark-base: #0f0f0f;
  --color-light-base: #eeeeee;
  --color-light-accent: #f5f5f0;
  --color-light-ui: #00b562;
}
